form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}
form input {
  box-sizing: border-box;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  border-style: none;
  background-color: rgb(215, 237, 245);
}
button {
  box-sizing: border-box;
  margin-top: 3px;
  padding: 5px;
  background-color: rgba(255, 173, 65, 0.897);
  border-radius: 3px;
}
