nav {
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li * {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.profile-button {
  background-color: transparent;
  margin: 0px;
  border: none;
  font-size: 20px;
}

.profile-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.profile-dropdown {
  position: absolute;
  bottom: -110px;
  right: -15px;
}
